.overlay
    display flex
    position absolute
    top 10px
    left 15px
    width 98%
    height 97%
    flex 1
    border 2px dashed gray
    justify-content center
    align-items center
    background-color #dedede
    .overlay-text
        pointer-events none
        font-size 20px
    .files-upload-icon
        background-image url('./assets/uploadFiles.svg')
        height 25px
        width 25px
        background-size 100%
        margin-right 10px