@import 'common.styl';
@import 'signup.styl';
@import 'sideBar.styl';
@import 'sideBarContent.styl';
@import 'startPage.styl';
@import 'chatPage.styl';

html, body
    height 100%

body
    margin 0
    font-family 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif



#root, .app, .router
    height 100%

.app
    display flex

.logScreen
    padding 110px

.chatScreen
    display flex