.content-container
    .chat-card
        display flex
        padding 10px 10px
        cursor pointer
        .chat-info
            display flex
            flex-direction column
            justify-content center
            margin-left 10px
            width 80%
            .name
                line-height normal
                margin-left 0px
                flex none
            .lastMessage
                overflow hidden
                text-overflow ellipsis
                width   100%
    .active
        background-color #7dcbf0